@use "../components/buttons" as button;
@use "../utilities/mixins" as mixin;
@use "../abstracts/colors" as color;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  .header-left {
    width: 60px;
    height: 60px;
    background-color: #e4e4e4;
    border-radius: 100%;
    border: 1px solid color.$primary-color;
    @include mixin.flex-center();
  }

  .header-right {
    @include mixin.flex-center(row);
    gap: 10px;
    width: 100%;
    max-width: 250px;

    button {
        @include button.primary_button;
    }
  }
}
  