// Colors
$primary-color: #06402B;
$secondary-color: #f4f4f4;
$text-color: #222;
$background-color: #fff;
$hover: #06402bcb;
$error: red;
$success: green;
$orange: orange;
$light_green_background: rgba(0, 128, 0, 0.2);
$light_red_background: rgba(255, 0, 0, 0.2);