@use "../abstracts/variables" as v;

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  height: 100dvh;
  padding: 0 v.$spacing-md;
}

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) { @content; }
  }
  @else if $breakpoint == medium {
    @media (max-width: 900px) { @content; }
  }
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.1)) {
  box-shadow: 0 4px 6px $color;
}

@mixin message-block($background-color: white, $color: black) {
  width: 100%;
  padding: 0.75rem;
  margin-top: 40px;
  @include flex-center(row);
  background: $background-color;
  color: $color;
  border: 1px solid $color;
  border-radius: 4px;
  display: none;
}